go 1.18

use (
	.
	./examples/example-monoio/go
	./examples/example-tokio/go
	./examples/example-tokio-musl/go
	./examples/example-monoio-mem/go
	./examples/example-tokio-mem/go
	./examples/example-bidirectional/go
	./examples/example-go2rust
	./test/go
)
