[package]
name = "rust2go-convert"
version = "0.1.0"

description = "Rust2go convertion related."

authors.workspace = true
categories.workspace = true
edition.workspace = true
keywords.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
